{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if session_id %}
	<p>Edit your exercise.</p>
{% else %}
	<p>Add a new exercise.</p>
{% endif %}
<div>
<form method="post" action=".">{% csrf_token %}
	{{ form.as_p }}

	<input type="submit" name="submit" value="Submit">
</form>
</div>

<hr />

{% if exercise_id %}
	<a href="/session/{{ session_id }}/exercise">Add Exercise</a>
	{% if latest_exercise_list %}
		<ul>
		{% for exercise in latest_exercise_list %}
			<li>{{ exercise.exercise.dexercise }}: {{ exercise.weight }}/{{ exercise.distance }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endif %}

{% endblock %}