<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WODWatts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
    	.errorlist li {
    		color: #b94a48;
    		font-weight: bold;
    		list-style-type: none;
    	}
    </style>	
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/css/prettify.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">

      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
          	  <li class="active">
          	  	<a href="#"  style="font-family: 'Black Ops One'; color: #fff">WODWatts</a>
          	  </li>
              <li class="">
                <a href="#overview">Overview</a>
              </li>
              <li class="">
                <a href="#how">How It Works</a>
              </li>
              <li class="">
                <a href="#about">About</a>
              </li>
              <li class="">
                <a href="#signup">Sign Up Now</a>
              </li>
              <li class="">
                <a href="#privacy">Privacy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1 style="font-family: 'Black Ops One'; font-weight:normal;">WODWatts</h1>
    <p>A better way to measure your workout.</p>
    <p class="download-info">
      <a href="#signup" class="btn btn-primary btn-large">Sign Me Up</a>
    </p>
  </div>
</header>

<hr class="soften" id="overview">

<div class="marketing">
	<h1>Coming this summer</h1>
	<p class="marketing-byline">Read on to learn more about WODWatts</p>

	<div class="row">
		<div class="span4">
			<img class="bs-icon" src="/static/img/caliper.png">
			<h2>Measuring Effort</h2>
			<p>How do you measure your workout? Dp you record calories burned or distance covered? Maybe you record the weights lifted in sets or simply time spent in the gym? That works for some, but not if you're a CrossFitter, doing P90x or working through a strength and conditioning program.</p>
		</div>

		<div class="span4">
			<img class="bs-icon" src="/static/img/bulb.png">
			<h2>It's All About Work</h2>
			<p>To really understand the effort you put into your workouts you measure the <i>work output</i>. In other words, how much total power (or energy) was required to perform your workout. Did you generate enough power to light a 100W bulb? How about a whole room or a house?</p>
		</div>

		<div class="span4">
			<img class="bs-icon" src="/static/img/power.png">
			<h2>Know Your Power</h2>
			<p>Coming this summer, WODWatts will revolutionize the way you measure the performance and improvements in your power, strength and conditioning. The best part is it's simplicity. You tell us your height and weight, the duration of your workout and what exercises you performed and we tell your power output.</p>
		</div>
	</div>
	<div>&nbsp;</div>
	<div class="row">
		<div class="span4">
			<img class="bs-icon" src="/static/img/megaphone.png">
			<h2>Get Social</h2>
			<p>With easy-to-understand results you'll want to Tweet or post to Facebook your results.</p>
		</div>

		<div class="span4">
			<img class="bs-icon" src="/static/img/trophy.png">
			<h2>Get Competitive</h2>
			<p>Compare yourself with runners, rowers, power lifters and body builders and see who is the most powerful.</p>
		</div>

		<div class="span4">
			<img class="bs-icon" src="/static/img/team.png">
			<h2>Team Up</h2>
			<p>Get enough people together and see if you can light up a neighborhood or maybe an entire city.</p>
		</div>
	</div>
</div>

<hr class="soften" id="how">

<div class="marketing">
	<h1>How It Works</h1>
	<p class="marketing-byline">It's based on sound scientific principals not some guru fluff (warning science ahead).</p>
	<div class="row">
		<div class="span4">
			<img class="bs-icon" src="/static/img/nuclear.png">
			<h2>The Power of Joules</h2>
			<p>The joule, a derived unit of energy or work, is equal to the energy expended in applying a force of one newton through a distance of one meter. In other words, joules is a measure of power output. If you generate enough power to produce one joule per second you generate one watt. So joules over time is described as watts and that's what were measuring for you.</p> 
			
			<p>To calculate joules the formula is simple enough — <i>joules = (mass x acceleration) x distance</i>. <i>Distance</i>, measured in meteres, represents how far something moved. <i>Mass</i> is the weight of the object in kilograms. We're representing <i>Acceleration</i> as the constant value of 9.8. The 9.8 constant represents the fight against gravity or 9.8 meters/second/second.</p>
			
			<p>To derives watts from joules you simply divide the joules by the number of seconds the activity took. That’s a very brief overview but covers the bases. If you’re interested in learning the details in this formula you can read more about the particulars in the Work section of <a href="http://galileo.phys.virginia.edu/classes/109N/lectures/momentum.html">this article</a>.</p>
		</div>
		
		<div class="span4">
			<img class="bs-icon" src="/static/img/calculator.png">
			<h2>How About An Example</h2>
			<p>For an example of how we calculate joules and watts we'll need to start with some basic stats. Let's assume the subject of our calculation weighs and even 70kg, and performs a simple jump of 1/2 meters straight up. The subject performs the jump conveniently in exactly one second.</p>
			
			<p>Based on our formula <i>watts = ((mass x acceleration) x distance) / time</i> we know the subject generated 343w for that one second. Here is the breakdown of the above calculation (Remember <i>joules = (mass x acceleration) x distance</i>:</p>
			<blockquote>
				<li>343 joules = (70kg * 9.8) * .5m</li>
				<li>343 watts = 343 joules/1 second</li>
			</blockquote>
			<p>If you could capture that energy in a battery with 100% efficiency you would have enough to power a 100w light bulb for 3 seconds. I'm sure you're thinking that's a pretty simplistic example, and it is, but using that same methodology we can also calculate the watts in a deadlift, burpee, bench press -- anything really, the difficulty is gathering the information for the variable in the equation.</p>
		</div>

		<div class="span4">
			<img class="bs-icon" src="/static/img/weights.png">
			<h2>Gathering the Variables</h2>
			<p>Before we can apply the calculation we need to get some stats together. <i>Distance</i> traveled may seems simple at first blush but it can get complicated. For example how far does the weight travel in a deadlift? Of course that is different for everyone but fortunately we're not as unique as we like to think. There are standards in our human physique we can apply. For example, did you know the distance from the ground to your hip is ~53% of your height?</p>
		
			<p>Using these standards (and knowing your height) we are able to compute <i>distance</i> for most exercises. Let’s look at the pullup as an example. A 1.8m tall individual roughly has a distance from his forearm to his shoulder of 33.2% of his height or .60m and that is the distance he would travel in a pullup.</p>
			
			<p><i>Mass</i> follows the same pricipals as <i>distance</i>. Certain standards apply to the weight of different parts of our physique just like it does for height. In the case of a pullup it is 100% of your weight because you are essentially lifting your entire body but that isn’t true for all exercises. What about a situp? All we need is calculate the added weight of our head, torso and arms (53% of your body weight).</p>
			
			<p>Once you have the method for getting <i>distance</i> and <i>mass</i> for each exercise for any individual, and we do, you just plug in the numbers to the formula.</p>
		</div>
	</div>
</div>

<hr class="soften" id="about">

<div class="marketing">
  <h1>About</h1>
  <p class="marketing-byline">Who concocted this crazy plan anyway</p>
  <div class="row">
    <div class="span4">
      <img class="bs-icon" src="/static/img/thinking.png">
      <h2>The Nerd and Founder</h2>
      <p>Jeff Northrop, CIPP/US, CIPP/IT, CISSP is a software developer, privacy professional and occasional entrepreneur. He also is a bit of an exercise fanatic. Currently enjoying CrossFit he has done everything from marathons to power lifting.</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="/static/img/floating.png">
      <h2>The Dream</h2>
      <p>WODWatts was born from an unmet desire to measure workout performance in a tangible, meaningful way. Twenty minutes of serious deadlifting is not the same as a 20 mintue 5K. Or is it? The dream is to be able to compare these type of workouts apples-to-apples.</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="/static/img/crown.png">
      <h2>The Result</h2>
      <p>If you want to know how much harder 100 burpees is for you then your friend who weighs 50 pounds less, or if you did more work in a 5x5 lifting session then last week's 5k run, your wait is almost over. WODWatts is coming in few short months.</p>
    </div>
</div>

<hr class="soften" id="signup">

<div class="marketing">
  <h1>Sign Up Now</h1>
  <p class="marketing-byline">We'll Keep In Touch, We Promise</p>
  <div class="row">
    <div class="span3">&nbsp;
    </div>
    <div class="span6">
	<!--	{% if messages %}
				{% for message in messages %}
					<div class="marketing-byline" style="color: #b94a48;">{{ message }}</div>
				{% endfor %}
		{% else %}
			<p>If you want to recieve updates on how we are progressing as well as get a first shot at WODWatts when it is available, enter your email below.</p>
			<div style="padding: 0 30px;">
			<form method="POST" action="#signup">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{{ form.entry_date.errors }}
				{{ form.entry_date }}
				<div>
					{{ form.email.errors }}
					<label for="id_email" style="font-weight:bold;">Your email address:</label>
					{{ form.email }}
				</div>
				<input type="submit" name="submit" value="Submit">
			</form>
			</div>
		{% endif %} 		-->
		<div style="width:100%; text-align: center">A signup form will be back here soon.</div>
    </div>
    <div class="span3">&nbsp;
    </div>
</div>

<hr class="soften" id="privacy">

<div class="marketing">
  <h1>Privacy Policy</h1>
  <p class="marketing-byline">No spam, never</p>
  <div class="row">
    <div class="span3">&nbsp;
    </div>
    <div class="span6">
    <p>WODWatts.com does not share personal information with third parties nor do we store any information about your visit to this site other than to analyze and measure our site's traffic through the use of cookies. If you provide us with your email address we will contact you from time to time with updates regarding the site and nothing else. You, of course, may opt out of receiving these updates at any time.</p>

    <p>If you have any questions feel free to contact us directly at <a href="mailto:wodwatts@gmail.com">wodwatts@gmail.com</a>.</p>
    </div>
    <div class="span3">&nbsp;
    </div>
  </div>	    
</div>

<footer class="footer">
<p class="pull-right"><a href="#">Back to top</a></p>
<p>Icons from <a href="http://thenounproject.com">The Noun Project</a> collection, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
</footer>


    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/google-code-prettify/prettify.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>

    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>

    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script src="/static/js/application.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28948106-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
